:root {
  --main-font: "Inter Variable";
  --accent-font: "PressStart2P";
  --text-font-weight: 400;
  --title-font-weight: 700;
  --bg-color: #fff;
  --floppy-size: 39px;
  --extra-padding: 4px;
  --bg-image: url(../images/background.png);
}
